@model Raunstrup.UI.MVC.Models.Campaign

@{
    ViewData["Title"] = "Delete";
}
<h1>Slet</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Er du sikker på du vil slette?</h3>
<section>
    <h4>Kampagne</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CampaignId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Procent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Procent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="CampaignId" />
        <input type="hidden" asp-for="Rowversion" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="Campaign">Tilbage til listen</a>
    </form>
</section>



@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
