@model Raunstrup.UI.MVC.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>

<section>
    <h4>Materiale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeasuringUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeasuringUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</section>
<section>
    <a asp-action="Edit" asp-route-id="@Model.ID">Rediger</a> |
    <a asp-action="Index">Tilbage til listen</a>
</section>
