@model Raunstrup.UI.MVC.Models.Customer

@{
    ViewData["Title"] = "Delete";
}

<h1>Slet</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Er du sikker på du vil slette?</h3>
<section>
    <h4>Kunde</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountGroup)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="RowVersion" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Tilbage til listen</a>
    </form>
</section>
